.container-spinner {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 4px #ddd solid;
  border-top: 4px solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
  border-top-color: var(--ltn__primary-color-2);
}
.theme-btn-1:hover .spinner {
  border-top-color: var(--ltn__secondary-color);
}