@import '../../../public/assets/sass/global/mixins';

.MuiSelect-root {
    color: var(--ltn__paragraph-color);
    font-size: 1rem;
    @include inputLoader(0);

    .selected {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
    }
}

.MuiSelect-popper {
    z-index: 2;
    width: 100%;
    .list {
      @include optionList()
    }

    .MuiOption-root {
        margin: 0;
        padding: 10px 29px 10px 18px;
        &:hover {
            background-color: var(--border-color-8);
            cursor: pointer;
        }
    }
}