.container {
    display: flex;
    width: 50%;
    margin: auto;
    padding: 2em;
    box-shadow: 3px 3px 7px grey;
    flex-direction: column;
}

.form {
    flex: 1;
    flex-direction: column;
}
.buttonForm {
    border-radius: 3px !important;
    border: 0px;
    background-color: #32B374;
}